.Home {
  font-size: 24px;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.Home .content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.Home .content h1 {
  color: #ffffff;
  font-size: 5rem;
}

.Home .content p {
  align-items: center;
  justify-content: center;
  width: 60%;
  color: #94a4b4;
  font-size: 1.4rem;
}

@media screen and (max-width: 480px) {
  .Home .content p {
    display: none;
  }
}
