.container {
  min-height: 100vh;
}

h1 {
  color: #fff;
}
.form {
  margin: 20vh auto 0 auto;
  padding: 5vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: antiquewhite;
}

.btn {
  border-radius: 20px;
}

@media screen and (max-width: 480px) {
  .form {
    width: 80%;
  }
}
