.projects {
  text-align: start;
  height: 100vh;
  line-height: 2rem;
  padding-left: 8vw;
}
.projects h1 {
  font-size: 3rem;
  color: #fff;
}

.projects p {
  font-size: 1.2rem;
  color: #94a4b4;
}
