.projects {
  display: flex;
  text-align: start;
  width: 100%;
  margin-top: 10vh;
  line-height: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects #content {
  height: fit-content;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects h1 {
  font-size: 3rem;
  color: #fff;
}

.projects p {
  font-size: 1.2rem;
  color: #94a4b4;
}

.cards {
  margin: 10vh 0;
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .cards {
    flex-direction: column;
  }
}
