.card {
  background-color: #fff;
  width: 40%;
  height: fit-content;
  margin-left: 10px;
  height: 55vh;
  border-radius: 20px;
}

img {
  width: 100%;
}
.container {
  padding: 2px 16px;
}
.card h1 {
  font-size: 1.5rem;
  color: #000;
  text-align: center;
}

.card p {
  color: #000;
  text-align: center;
  font-size: 1rem;
  line-height: normal;
}

.card a {
  color: #fff;
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.card button {
  background-color: #22262a;
  border: none;
  border-radius: 20px;
  height: 3rem;
  width: 8rem;
  text-decoration: none;
}

button:hover {
  background-color: #22262a;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .card {
    margin-top: 2rem;
    width: 90vw;
    height: 55vh;
  }
}
