* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-size: 24px;
  text-align: center;
}

.App .showcase {
  height: 100vh;
  display: flex;
}
.App .content {
  width: 70%;
  margin: auto auto;
}
.App h1 {
  color: #ffffff;
  font-size: 5rem;
}

.App p {
  padding-top: 2rem;
  color: #94a4b4;
  line-height: 2rem;
  font-size: 1.5rem;
}
.App .footer {
  height: 10vh;
  width: 100%;
}
